#statblock {
  display: flex;
  flex-direction: row;
  background-color:inherit;
  justify-content: center;
  align-content: : space-between;
  font-family: Harman Retro;
}

#statblock > div {
  background-color: White;
  width: 80px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  font-family: Harman Retro;
  align-self:auto;
}

#main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Harman Retro;

}

.jumbotron{
  height:350px;
  text-align: center;
  background-color: orange;
  font-family: Harman Retro;

}

#stat{
  font-size:15px;
}

.list-group-item{
    width:250px;
    text-align: center;
    border-radius: 20px;
    border-collapse: collapse;
}

#title{
  text-align: center;
}
